/* Reset */
* { box-sizing: border-box; }

body {
  background: url(http://i180.photobucket.com/albums/x249/lori60176/glitter%20patterns/Glitters%20plus%20stacked/Patterns%20I%20made/pasterlsti.jpg);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none inside none;
  margin: 0;
  padding: 0;
}

img {max-width: 100%;}

/* Layout */
.important_stuff {
  background: #fff;
  display: none;
  flex-direction: column;
  margin: 0 30px 30px;
  min-height: 100vh;
}

.super_important_stuff {
  display: none;
  flex-direction: row;
  margin: 18px 48px 30px;
  min-height: 100vh;
  background: #fcecfc;
  border-radius: 20px;
  border: 1px dotted magenta;
  box-shadow: 0 0 0 18px cornflowerblue;
  outline: 18px solid cornflowerblue;
  padding: 2em;
}

.all_anyone_cares_about {
  background: #fcecfc;
  border-radius: 20px;
  border: 1px dotted magenta;
  box-shadow: 0 0 0 18px cornflowerblue;
  margin: 18px;
  outline: 18px solid cornflowerblue;
  padding: 2em;
}

@media all and (min-width: 768px) {
  .important_stuff {
    flex-direction: row;
  }
  .all_anyone_cares_about { flex: 4 0px; order: 2}
  .on_the_side { order: 1; max-width: 250px; }
  .useless_ads { order: 3; max-width: 250px;}
}

/* Nav */
.all_that_glitters {
  max-width: 1000px;
  padding: 30px 30px 20px;
  width: 100%;
}

.all_the_important_stuff [type="radio"] {
  display: none; /* hiding the inputs */
}

.going_places {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.going_places li {
  min-width: 100%;
}

@media all and (min-width: 768px) {
  .going_places {
    flex-direction: row;
  }
  .going_places li {
    min-width: 20%;
  }
}

.going_places label {
  background: url('../images/blueglitterbg57.gif');
  border: 5px inset Aquamarine;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: bold 16px/36px "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
  height: 45px;
  letter-spacing: .1em;
  text-align: center;
  transition: all 0.3s;
  width: 100%;
}

.going_places li:hover label {
  border: 5px outset Turquoise;
}

.going_places {
  display: flex;
  font-weight: bold;
  margin: 10px 30px 0;
}

.going_places input {
  display: none;
}

/* Nav */
.all_the_important_stuff [type="radio"]:nth-of-type(1):checked ~ .going_places li:nth-of-type(1) label,
.all_the_important_stuff [type="radio"]:nth-of-type(2):checked ~ .going_places li:nth-of-type(2) label,
.all_the_important_stuff [type="radio"]:nth-of-type(3):checked ~ .going_places li:nth-of-type(3) label,
.all_the_important_stuff [type="radio"]:nth-of-type(4):checked ~ .going_places li:nth-of-type(4) label,
.all_the_important_stuff [type="radio"]:nth-of-type(5):checked ~ .going_places li:nth-of-type(5) label,
.all_the_important_stuff [type="radio"]:nth-of-type(6):checked ~ .going_places li:nth-of-type(6) label {
  background: url(../images/backgroundstrip_hrtglitterstrip.gif);
  border: 5px outset #7b48db;
  color: blue;
}

.all_the_important_stuff [type="radio"]:nth-of-type(1):checked ~ .important_stuff:nth-of-type(1) {
  display: flex;
}
.all_the_important_stuff [type="radio"]:nth-of-type(2):checked ~ .important_stuff:nth-of-type(2),
.all_the_important_stuff [type="radio"]:nth-of-type(3):checked ~ .important_stuff:nth-of-type(3),
.all_the_important_stuff [type="radio"]:nth-of-type(4):checked ~ .important_stuff:nth-of-type(4),
.all_the_important_stuff [type="radio"]:nth-of-type(5):checked ~ .important_stuff:nth-of-type(5),
.all_the_important_stuff [type="radio"]:nth-of-type(6):checked ~ .important_stuff:nth-of-type(6) {
  display: block;
}

/* Aside */
.on_the_side {
  background: #f2f9fe;
  background: linear-gradient(to bottom, #f2f9fe 0%, #d6f0fd 100%);
  border: 2px dotted #a01003;
  padding: 0;
}

.top_of_the_90s {
  background: #fcecfc;
  background: linear-gradient(to bottom, #fcecfc 0%, #fba6e1 70%, #fd89d7 71%, #ff7cd8 100%);
  border-bottom: 3px solid #ff0084;
  color: #04087a;
  font-size: 15px;
  font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif";
  margin: 0 0 10px;
  padding: 0 15px 5px;
  text-transform: uppercase;
}

.top_of_the_90s::before {
  background: linear-gradient(315deg, transparent 75%, cyan 0)-2.5px 0, linear-gradient(45deg, transparent 75%, cyan 0)-2.5px 0, linear-gradient(135deg, #00cccc 50%, transparent 0) 0 0, linear-gradient(45deg, #00b3b3 50%, #009999 0) 0 0 #009999;
  background-size: 5px 5px;
  content: '';
  display: block;
  height: 15px;
  margin: 0 -15px 5px;
}

.useless_ads {
  margin-top: 40px;
  text-align: center;
}

.unnecessary_content li,
.useless_ads li {
  list-style: none;
  padding: 0 15px 20px;
}

/* Type */
h1.fancy_title,
h2.fancy_title {
  color: magenta;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 60px;
  text-shadow:
    1.5px 1.5px 0 Yellow, 0px 1.5px 0 Yellow,
    -1.5px -1.5px 0 Yellow, -1.5px -1.5px 0 Yellow,
    -1.5px 1.5px 0 Yellow,
    1.5px -1.5px 0 Yellow,
    1px 1px 0 #e62915,
    2px 2px 0 #e62915,
    3px 3px 0 #e62915,
    4px 4px 0 #e62915,
    5px 5px 0 #e62915, 6px 6px 0 #e62915, 7px 7px 0 #e62915, 8px 8px 0 #e62915;
}

h2 {
  color:  #7b48db;
  font: bold 30px "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}

p {
  margin-bottom: 1em;
}

.required_by_management ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 20px;
}

.required_by_management li {
  min-width: 100%;
}

@media all and (min-width: 768px) {
  .required_by_management ul {
    flex-direction: row;
  }
  .required_by_management li {
    min-width: inherit;
  }
}

.stuck_in_the_middle {
  text-align: center;
  margin: 40px auto;
}

.sr_only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
